In [26]:
import pyodbc
import numpy as np
import pandas as pd
import optuna
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt

server = 'mia10.database.windows.net'
database = 'mia10_db'
username = 'user_reader'
password = '7R&o&o4#~756^z'
driver = '{ODBC Driver 17 for SQL Server}'

connection_string = f'DRIVER={driver};SERVER={server};PORT=1433;DATABASE={database};UID={username};PWD={password}'

conn = pyodbc.connect(connection_string)

query = '''
SELECT m.slug_game, m.event_title, m.medal_type, c.country_name, e.game_year
FROM medals m
JOIN events e ON LOWER(REPLACE(m.slug_game, '-', ' ')) = LOWER(e.game_name)
JOIN country c ON m.athlete_country_id = c.country_id
WHERE e.game_season = 'Summer'
'''

df = pd.read_sql(query, conn, index_col=None)

conn.close()

df.head(10)

/tmp/ipykernel_299921/3551398233.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, index_col=None)

,slug_game,event_title,medal_type,country_name,game_year
0,munich-1972,twoperson keelboat open Star mixed,SILVER,Sweden,1972
1,munich-1972,twoperson keelboat open Star mixed,SILVER,Sweden,1972
2,montreal-1976,tempest mixed,GOLD,Sweden,1976
3,montreal-1976,tempest mixed,GOLD,Sweden,1976
4,los-angeles-1932,twoperson keelboat open Star mixed,BRONZE,Sweden,1932
5,los-angeles-1984,K2 500m kayak double men,SILVER,Sweden,1984
6,los-angeles-1984,K2 500m kayak double men,SILVER,Sweden,1984
7,los-angeles-1984,K1 500m kayak single men,SILVER,Sweden,1984
8,los-angeles-1984,K2 500m kayak double women,GOLD,Sweden,1984
9,los-angeles-1984,K1 500m kayak single women,GOLD,Sweden,1984

In [27]:
countries_rio_2016 = df[df['slug_game'] == 'rio-2016']['country_name'].unique()
df_filtered = df[df['country_name'].isin(countries_rio_2016)]

# grouper par pays, édition et type de médaille
grouped = df_filtered.groupby(['country_name', 'slug_game', 'medal_type']).size().unstack(fill_value=0)

grouped.columns = [f'{col}_count' for col in grouped.columns]

grouped.reset_index(inplace=True)

grouped.head(1000)

,country_name,slug_game,BRONZE_count,GOLD_count,SILVER_count
0,Argentina,athens-2004,4,0,0
1,Argentina,atlanta-1996,0,0,1
2,Argentina,barcelona-1992,2,0,0
3,Argentina,beijing-2008,2,2,0
4,Argentina,berlin-1936,2,0,0
...,...,...,...,...,...
422,United States of America,rome-1960,2,0,0
423,United States of America,seoul-1988,4,9,6
424,United States of America,sydney-2000,6,9,6
425,United States of America,tokyo-1964,3,0,7
426,United States of America,tokyo-2020,3,3,7

In [28]:
# Encodage des noms de pays
encoder = OneHotEncoder(sparse_output=False)
country_encoded = encoder.fit_transform(grouped[['country_name']])
country_encoded_df = pd.DataFrame(country_encoded, columns=encoder.get_feature_names_out(['country_name']))

grouped = pd.concat([grouped, country_encoded_df], axis=1) # Ajouter les colonnes encodées au DataFrame

# caractéristiques supplémentaires
grouped['total_medals'] = grouped['BRONZE_count'] + grouped['GOLD_count'] + grouped['SILVER_count']
grouped['gold_silver_diff'] = grouped['GOLD_count'] - grouped['SILVER_count']
grouped['gold_bronze_diff'] = grouped['GOLD_count'] - grouped['BRONZE_count']

# préparation des données pour random forest
def create_sequences(data, time_steps=3):
    Xs, ys = [], []
    for i in range(len(data) - time_steps):
        Xs.append(data.iloc[i:(i + time_steps), 2:].values)
        ys.append(data.iloc[i + time_steps, [3, 4, 2]].values) # assuming [3, 4, 2] are the target columns
    return np.array(Xs, dtype=np.float32), np.array(ys, dtype=np.float32)

# séquences
time_steps = 3
X_seq, y_seq = create_sequences(grouped, time_steps)

# Standardiser les données
scaler = StandardScaler()
X_seq_shape = X_seq.shape
X_seq = scaler.fit_transform(X_seq.reshape(-1, X_seq.shape[-1])).reshape(X_seq_shape)

X_seq = X_seq.reshape(X_seq.shape[0], -1) # Aplatir les données

X_train, X_test, y_train, y_test = train_test_split(X_seq, y_seq, test_size=0.2, random_state=42)

def objective(trial):
    # hyperparamètres
    n_estimators = trial.suggest_int('n_estimators', 100, 300)
    max_features = trial.suggest_categorical('max_features', ['sqrt', 'log2'])
    max_depth = trial.suggest_int('max_depth', 10, 30)
    min_samples_split = trial.suggest_int('min_samples_split', 2, 10)
    min_samples_leaf = trial.suggest_int('min_samples_leaf', 1, 4)
    
    rf = RandomForestRegressor(
        n_estimators=n_estimators,
        max_features=max_features,
        max_depth=max_depth,
        min_samples_split=min_samples_split,
        min_samples_leaf=min_samples_leaf,
        random_state=42
    )
    
    rf.fit(X_train, y_train)
    y_pred = rf.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    
    return mse

study = optuna.create_study(direction='minimize')
study.optimize(objective, n_trials=50)

print(f'Best Hyperparameters: {study.best_params}')

best_model = RandomForestRegressor(
    **study.best_params,
    random_state=42
)
best_model.fit(X_train, y_train)
y_pred = best_model.predict(X_test)

# évaluer
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f'Mean Squared Error: {mse}')
print(f'R^2 Score: {r2}')

[I 2024-05-30 16:30:13,936] A new study created in memory with name: no-name-095fd031-f993-4ee5-9266-a7f0298722e6
[I 2024-05-30 16:30:14,009] Trial 0 finished with value: 5.706991283260668 and parameters: {'n_estimators': 100, 'max_features': 'log2', 'max_depth': 21, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 0 with value: 5.706991283260668.
[I 2024-05-30 16:30:14,205] Trial 1 finished with value: 5.599016473121143 and parameters: {'n_estimators': 250, 'max_features': 'sqrt', 'max_depth': 26, 'min_samples_split': 5, 'min_samples_leaf': 3}. Best is trial 1 with value: 5.599016473121143.
[I 2024-05-30 16:30:14,342] Trial 2 finished with value: 5.450252538279423 and parameters: {'n_estimators': 188, 'max_features': 'sqrt', 'max_depth': 10, 'min_samples_split': 9, 'min_samples_leaf': 2}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:14,453] Trial 3 finished with value: 5.869683155381935 and parameters: {'n_estimators': 144, 'max_features': 'log2', 'max_depth': 28, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:14,587] Trial 4 finished with value: 5.710122088256997 and parameters: {'n_estimators': 162, 'max_features': 'log2', 'max_depth': 24, 'min_samples_split': 6, 'min_samples_leaf': 3}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:14,734] Trial 5 finished with value: 5.845477944306602 and parameters: {'n_estimators': 200, 'max_features': 'log2', 'max_depth': 28, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:14,934] Trial 6 finished with value: 5.577674108518228 and parameters: {'n_estimators': 274, 'max_features': 'log2', 'max_depth': 27, 'min_samples_split': 7, 'min_samples_leaf': 2}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:15,054] Trial 7 finished with value: 5.544925146585313 and parameters: {'n_estimators': 141, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 5, 'min_samples_leaf': 2}. Best is trial 2 with value: 5.450252538279423.
[I 2024-05-30 16:30:15,229] Trial 8 finished with value: 5.3331533312531745 and parameters: {'n_estimators': 211, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:15,470] Trial 9 finished with value: 5.74658117857746 and parameters: {'n_estimators': 238, 'max_features': 'sqrt', 'max_depth': 25, 'min_samples_split': 5, 'min_samples_leaf': 4}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:15,718] Trial 10 finished with value: 5.4841956304532085 and parameters: {'n_estimators': 232, 'max_features': 'sqrt', 'max_depth': 14, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:15,889] Trial 11 finished with value: 5.42276532518152 and parameters: {'n_estimators': 190, 'max_features': 'sqrt', 'max_depth': 10, 'min_samples_split': 10, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:16,104] Trial 12 finished with value: 5.430626359117089 and parameters: {'n_estimators': 213, 'max_features': 'sqrt', 'max_depth': 16, 'min_samples_split': 10, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:16,411] Trial 13 finished with value: 5.417440260220574 and parameters: {'n_estimators': 293, 'max_features': 'sqrt', 'max_depth': 17, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:16,668] Trial 14 finished with value: 5.483389933786964 and parameters: {'n_estimators': 294, 'max_features': 'log2', 'max_depth': 18, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:16,937] Trial 15 finished with value: 5.519819496498478 and parameters: {'n_estimators': 298, 'max_features': 'sqrt', 'max_depth': 21, 'min_samples_split': 3, 'min_samples_leaf': 2}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:17,153] Trial 16 finished with value: 5.403584251674682 and parameters: {'n_estimators': 266, 'max_features': 'log2', 'max_depth': 15, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:17,405] Trial 17 finished with value: 5.452421090341801 and parameters: {'n_estimators': 262, 'max_features': 'log2', 'max_depth': 14, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:17,587] Trial 18 finished with value: 5.464684479947183 and parameters: {'n_estimators': 222, 'max_features': 'log2', 'max_depth': 13, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:17,898] Trial 19 finished with value: 5.541224126385608 and parameters: {'n_estimators': 272, 'max_features': 'log2', 'max_depth': 19, 'min_samples_split': 7, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:18,032] Trial 20 finished with value: 5.453165132542861 and parameters: {'n_estimators': 170, 'max_features': 'log2', 'max_depth': 15, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:18,297] Trial 21 finished with value: 5.4274948540505825 and parameters: {'n_estimators': 281, 'max_features': 'sqrt', 'max_depth': 17, 'min_samples_split': 3, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:18,501] Trial 22 finished with value: 5.367102163160747 and parameters: {'n_estimators': 256, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:18,708] Trial 23 finished with value: 5.361587581238148 and parameters: {'n_estimators': 251, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:18,907] Trial 24 finished with value: 5.3600386455366325 and parameters: {'n_estimators': 249, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,093] Trial 25 finished with value: 5.542723299680742 and parameters: {'n_estimators': 243, 'max_features': 'log2', 'max_depth': 11, 'min_samples_split': 6, 'min_samples_leaf': 2}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,315] Trial 26 finished with value: 5.424338440810289 and parameters: {'n_estimators': 214, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 6, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,475] Trial 27 finished with value: 5.415520615472261 and parameters: {'n_estimators': 225, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 4, 'min_samples_leaf': 2}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,656] Trial 28 finished with value: 5.459419592010995 and parameters: {'n_estimators': 247, 'max_features': 'log2', 'max_depth': 14, 'min_samples_split': 7, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,742] Trial 29 finished with value: 5.7294682913122905 and parameters: {'n_estimators': 108, 'max_features': 'log2', 'max_depth': 30, 'min_samples_split': 8, 'min_samples_leaf': 3}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:19,909] Trial 30 finished with value: 5.424530897618831 and parameters: {'n_estimators': 201, 'max_features': 'log2', 'max_depth': 22, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:20,092] Trial 31 finished with value: 5.367102163160747 and parameters: {'n_estimators': 256, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:20,271] Trial 32 finished with value: 5.457206562349453 and parameters: {'n_estimators': 251, 'max_features': 'log2', 'max_depth': 12, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 8 with value: 5.3331533312531745.
[I 2024-05-30 16:30:20,434] Trial 33 finished with value: 5.288304969067829 and parameters: {'n_estimators': 233, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 33 with value: 5.288304969067829.
[I 2024-05-30 16:30:20,604] Trial 34 finished with value: 5.2861613829730345 and parameters: {'n_estimators': 235, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:20,756] Trial 35 finished with value: 5.400605420233407 and parameters: {'n_estimators': 213, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:20,920] Trial 36 finished with value: 5.694197150871353 and parameters: {'n_estimators': 235, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 3}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,052] Trial 37 finished with value: 5.512694644982433 and parameters: {'n_estimators': 182, 'max_features': 'log2', 'max_depth': 11, 'min_samples_split': 6, 'min_samples_leaf': 2}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,198] Trial 38 finished with value: 5.4113884303085555 and parameters: {'n_estimators': 203, 'max_features': 'log2', 'max_depth': 11, 'min_samples_split': 6, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,354] Trial 39 finished with value: 5.653857001969695 and parameters: {'n_estimators': 224, 'max_features': 'log2', 'max_depth': 13, 'min_samples_split': 3, 'min_samples_leaf': 3}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,541] Trial 40 finished with value: 5.450200871209649 and parameters: {'n_estimators': 233, 'max_features': 'log2', 'max_depth': 23, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,723] Trial 41 finished with value: 5.5032105661949595 and parameters: {'n_estimators': 243, 'max_features': 'log2', 'max_depth': 13, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:21,919] Trial 42 finished with value: 5.33353645947643 and parameters: {'n_estimators': 280, 'max_features': 'log2', 'max_depth': 11, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:22,116] Trial 43 finished with value: 5.444584222140726 and parameters: {'n_estimators': 286, 'max_features': 'log2', 'max_depth': 11, 'min_samples_split': 5, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:22,301] Trial 44 finished with value: 5.316619486468145 and parameters: {'n_estimators': 273, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 4, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:22,483] Trial 45 finished with value: 5.828014375210483 and parameters: {'n_estimators': 278, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 3, 'min_samples_leaf': 4}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:22,671] Trial 46 finished with value: 5.2972025055391745 and parameters: {'n_estimators': 268, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:22,870] Trial 47 finished with value: 5.510569138014051 and parameters: {'n_estimators': 264, 'max_features': 'sqrt', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:23,013] Trial 48 finished with value: 5.481647972015494 and parameters: {'n_estimators': 193, 'max_features': 'log2', 'max_depth': 15, 'min_samples_split': 2, 'min_samples_leaf': 2}. Best is trial 34 with value: 5.2861613829730345.
[I 2024-05-30 16:30:23,219] Trial 49 finished with value: 5.336645499609808 and parameters: {'n_estimators': 271, 'max_features': 'log2', 'max_depth': 13, 'min_samples_split': 2, 'min_samples_leaf': 1}. Best is trial 34 with value: 5.2861613829730345.

Best Hyperparameters: {'n_estimators': 235, 'max_features': 'log2', 'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 1}
Mean Squared Error: 5.2861613829730345
R^2 Score: 0.2239105739250845

In [29]:
def predict_medals_next_edition(country, model, scaler, data, encoder, time_steps=3):
    # encodage du pays
    country_encoded = encoder.transform([[country]])
    country_encoded_df = pd.DataFrame(country_encoded, columns=encoder.get_feature_names_out(['country_name']))
    
    # Sélectionner les données du pays
    country_data = data[data['country_name'] == country].sort_values(by='slug_game').iloc[-time_steps:, 2:]
    country_data = pd.concat([country_data.reset_index(drop=True), country_encoded_df], axis=1)
    
    if country_data.shape[0] < time_steps:
        raise ValueError(f"Not enough data for {country} to create a prediction with {time_steps} time steps.")
    
    # Standardiser les données
    expected_features = scaler.n_features_in_
    current_features = country_data.shape[1]
    
    if current_features < expected_features:
        # ajout des 0 si nécessaire
        missing_features = expected_features - current_features
        country_data = np.hstack([country_data.values, np.zeros((country_data.shape[0], missing_features))])
    elif current_features > expected_features:
        # sup des colonnes si nécessaire
        country_data = country_data.iloc[:, :expected_features]

    country_data = scaler.transform(country_data)
    
    # aplatir les données
    country_data = country_data.reshape(1, -1)
    
    predicted_medals = model.predict(country_data)
    return pd.DataFrame(predicted_medals, columns=['GOLD_count', 'SILVER_count', 'BRONZE_count'])

In [30]:
def predict_all_countries_next_edition(model, scaler, data, encoder, time_steps=3):
    unique_countries = data['country_name'].unique()
    predictions = []

    for country in unique_countries:
        try:
            predicted_medals = predict_medals_next_edition(country, model, scaler, data, encoder, time_steps)
            predicted_medals['country_name'] = country
            predictions.append(predicted_medals)
        except ValueError as e:
            print(f"Skipping country {country}: {e}")

    predictions_df = pd.concat(predictions).reset_index(drop=True)
    return predictions_df

predictions_df = predict_all_countries_next_edition(best_model, scaler, grouped, encoder)

total_predicted_medals = predictions_df[['GOLD_count', 'SILVER_count', 'BRONZE_count']].sum().sum()

# calculer le facteur de normalisation pour ajuster les médailles à la somme cible (987)
medal_target = 987
normalization_factor = medal_target / total_predicted_medals

# appliquer aux prédictions
predictions_df[['GOLD_count', 'SILVER_count', 'BRONZE_count']] *= normalization_factor

# arrondi entier le plus proche
predictions_df[['GOLD_count', 'SILVER_count', 'BRONZE_count']] = predictions_df[['GOLD_count', 'SILVER_count', 'BRONZE_count']].round().astype(int)

predictions_df['total_medals'] = predictions_df[['GOLD_count', 'SILVER_count', 'BRONZE_count']].sum(axis=1)

# sort par nombre total de médailles si égalité prendre or
predictions_df = predictions_df.sort_values(by=['total_medals', 'GOLD_count'], ascending=False)

predictions_df.head(50)

/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

Skipping country Lithuania: Not enough data for Lithuania to create a prediction with 3 time steps.

/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(
/home/mory/.local/lib/python3.10/site-packages/sklearn/base.py:486: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

,GOLD_count,SILVER_count,BRONZE_count,country_name,total_medals
22,45,14,14,Norway,73
23,22,17,17,People's Republic of China,56
35,22,18,15,United States of America,55
10,15,17,16,Germany,48
25,11,18,15,ROC,44
0,11,9,15,Argentina,35
27,10,13,11,Romania,34
11,7,14,13,Great Britain,34
31,7,15,6,South Africa,28
28,8,8,10,Russian Federation,26
34,6,8,12,Ukraine,26
20,8,7,9,Netherlands,24
18,7,9,8,Malaysia,24
9,6,7,11,France,24
1,7,6,10,Australia,23
5,7,7,9,Croatia,23
21,7,8,7,New Zealand,22
3,6,7,9,Brazil,22
13,6,7,9,Hungary,22
16,6,8,8,Italy,22
17,5,7,10,Japan,22
2,7,7,7,Austria,21
15,7,7,7,Ireland,21
26,7,6,8,Republic of Korea,21
6,6,6,9,Czech Republic,21
30,6,7,8,Slovakia,21
32,6,6,9,Spain,21
7,6,6,8,Democratic People's Republic of Korea,20
14,6,7,7,Indonesia,20
19,6,6,8,Mexico,20
4,5,7,8,Canada,20
24,5,7,8,Poland,20
29,6,6,7,Serbia,19
8,5,6,8,Denmark,19
12,5,6,8,Greece,19
33,5,7,6,Switzerland,18